html {
  scroll-behavior: smooth;
}
.header{
    margin:20px 0;
}
.top-bar {
  background-color: transparent;
}
.top-bar .menu {
  background-color: transparent;
}
.info-cards .cell {
  display: flex;
  align-items: stretch;
}
.card-image {
  height:auto;
}
.grid-container {
  margin-bottom: 40px;
}
#myHeader {
  transition: all 0.3s ease-in-out;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: -1px 17px 32px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 17px 32px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 17px 32px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.sticky ~ main {
  padding-top: 102px;
}
